 html body{
    margin:0px;
    padding:0px;
}

#header{
width:100%;
height: 10vw;
background-color:gray;
padding-top:5vh;
text-align:center;
font-family: "Palatino Linotype", Times, serif;

}
ust{
    font-weight:bold;
    font-size: 3em;
    letter-spacing: 3px;
    color:white;
}
#hosgeldiniz{
    font-weight:bold;
    font-size: 1.5em;
    letter-spacing: 3px;
    color:white;
}


#content{
margin-top: 2%;
margin-left: 10%;
padding-right: 15%;
font-size:0.8em;
}